<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <!-- 
    <typeAliases>
        <typeAlias alias="Account" type="com.revolut.account.domain.Account"/>        
    </typeAliases>
    -->
 
    <environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <!--  connecting to Local HSQL -->
            <dataSource type="POOLED">
                <property name="driver" value="org.hsqldb.jdbcDriver"/>
                <property name="url" value="jdbc:hsqldb:mem:revolut;sql.syntax_ora=true"/>
                <property name="username" value="revolut"/>
                <property name="password" value="revolut"/>
            </dataSource>
       </environment>
    </environments>
    <mappers>
       <mapper resource="com/revolut/account/mappers/AccountServiceMapper.xml"/>
    </mappers>
</configuration>
